.modal {
  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__user-form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin-top: 5px;
    }
  }
}

.providers {
  &__separator {
    width: 50px;
  }
  &__col {
    display: flex;
    width: 50%;
    .providers__choose-btn:nth-child(2) {
      margin-left:20px;
    }
  }
  &__row {
    display: flex;
  }
}