.modal {
  &__buttons {
    &--next {
      margin-left: auto;
    }
  }

  .modal__buttons {
    display: flex;

    button {
      &.modal__buttons--choose-method {
        margin: 10px;
      }
    }

    &__payment-services {
      list-style: none;
      padding: 0;
      margin: 0 auto;

      li {
        text-align: center;
        font-weight: bolder;
      }
    }
  }

  &__user-form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-top: 5px;
    }

    &__field {
      &--gender {
        mat-radio-group {
          mat-radio-button {
          }
        }
      }
    }
  }
}