.modal {
  .modal__buttons {
    display: flex;
    button {
      &.modal__buttons--choose-method {
        margin: 10px;
      }
    }
    ul.modal__buttons__payment-services {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      li {
        text-align: center;
        font-weight: bolder;
      }
    }
  }
}