@import '../../../styles.scss';

table {
  width: 100%;

  tr {
    &.transaction-detail-row {
      height: 0;
    }
    &.transaction-element-row:not(.transaction-expanded-row) {
      &:hover {
        background: #f5f5f5;
      }
      &:active {
        background: #efefef;
      }
    }
  }


  .transaction-element {
    .transaction-element-row td {
      border-bottom-width: 0;
    }

    &__detail {
      overflow: hidden;
      display: flex;
      &--value {
        color: $accent;
      }
    }

    &__diagram {
      width: 100%;
      padding: 8px;
      font-weight: lighter;
      height: auto;
    }
  }
}

.content {
  background-color: white;
  padding: 30px;
}